@model IEnumerable<AlumnosCRUD.Models.Alumno>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Crear un nuevo alumno", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Edad
        </th>
        <th>
            Sexo
        </th>
        <th>
            Fecha de ingreso 
        </th>
        <th>
            Nombre Completo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @{
                if (item.Sexo == "M")
                {
                    <span>Masculino</span>
                }
                else {
                    <span>Femenino</span>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto )
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Borrar", new { id=item.Id }, new { @class = "aElimina" })
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm("¿Estás seguro de borrar al alumno?")) {
                event.preventDefault();
            }
        });
    </script>
    }